.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #fff;
    padding: 0px 10px;
    border-radius: 10px;
    min-height: 80vh;
    margin-bottom: 20px;
}

.filter-container {
    --filter-width: 300px;
    min-width: var(--filter-width);
    max-width: var(--filter-width);
    border-right: 1px solid #eaeaea;
    padding: 10px 0;

    .category-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .category-item {
            margin-top: 12px;

            input[type="checkbox"] {
                display: none;
            }

            label {
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid #eaeaea;
            }

            input[type="checkbox"]:checked+label {
                background: #576b33;
                color: #fff;
            }
        }

        .category-item:not(:last-child) {
            margin-right: 5px;
        }
    }

    .price-filter {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-right: 10px;
        margin-top: 10px;
        // max-width: var(--filter-width);

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input {
            width: 100%;
            padding: 5px 10px;
            border-radius: 5px;
            border: 1px solid #eaeaea;
            outline: none;
        }
    }

    .services-filter{

        .services-filter-check{
            accent-color: #576b33;
        }
    }

    .cancel-filter-button{
        margin-top: 20px;
        width: calc(100% - 10px);
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        outline: none;
        background: #576b33;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .cancel-filter-button:hover{
        background: #48572a;
        color: #fff;
    }
}

.product-container {
    flex: 1;
    padding: 10px;

    // 4 items in 1 row
    .product-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
    
}