.wrapper {
    // background: #fff;
    margin: 20px 0;
    // padding: 20px;
    // border-radius: 10px;
    // max-width: 1100px;
    // position: absolute;
    width: 100%;
    // left: calc(50% - 550px);
    display: flex;
    flex-direction: row;

    .cart-products-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        margin-right: 20px;
    }
}

.cart-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;

    .cart-item-image {
        display: flex;
        align-items: center;

        input {
            accent-color: var(--colorPrimary);
            margin-right: 20px;
            height: 15px;
            width: 15px;
        }

        img {
            height: 150px;
            width: 150px;
            border-radius: 5px
        }
    }

    .product-quantity{
        display: flex;

        .product-quantity-control-decrease{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #fff;
            cursor: pointer;
            outline: none;
            border: 1px solid #eaeaea;
            border-radius: 5px 0 0px 5px;
        }
        .product-quantity-control-increase{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            background-color: #fff;
            cursor: pointer;
            outline: none;
            border: 1px solid #eaeaea;
            border-radius: 0px 5px 5px 0px;
        }
        .product-quantity-number{
            width: 30px;
            height: 30px;
            display: flex;
            border-top: 1px solid #eaeaea;
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            color: #000;
            border-bottom: 1px solid #eaeaea;
            border-left: none;
            border-right: none;
            align-items: center;
            justify-content: center;
            background: var(--colorBGInput);
        }
    }

    .price{
        font-size: 16px;
        font-weight: 600;
    }

    .price:after {
        content: "đ";
    }

    .cart-item-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        flex: 1;

        .cart-description {
            display: flex;
            justify-content: start;
            align-items: start;
            flex-direction: column;

            // .cart-item-name{
            //     font-size: 20px;
            //     font-weight: 600;
            // }

            // .cart-item-price{
            //     font-size: 20px;
            //     font-weight: 600;
            // }
        }

        .cart-item-action {
            display: flex;
            justify-content: space-between;
            align-items: end;
            flex-direction: column;
            text-align: right;

            .remove-btn {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 20px;
                // margin-right: 10px;
                font-size: 18px;
                display: flex;
                align-items: center;
                padding: 0;
                margin-top: 10px;
                color: #ea4c89;

                svg {
                    transition: all 0.3s ease;
                }
            }

            .remove-btn:hover {

                svg {
                    transform: rotate(-15deg);
                }
            }

            .remove-btn-text{
                font-size: 13px;
                font-weight: 500;
            }
        }
    }



}

.cart-item:not(:last-child) {
    // margin-bottom: 20px;
    border-bottom: 2px solid #eaeaea;
}


.total-container {


    min-width: 300px;
    position: relative;

    // padding: 20px;

    // height: fit-content;

    .total-sub {
        height: fit-content;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        width: 300px;
        position: fixed;
        right: auto;
        top: auto;
        display: flex;
        align-items: end;
        flex-direction: column;
    }

    p {
        font-size: 20px;
        font-weight: 600;
    }

    .total-price-text {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .total-price {
        font-size: 20px;
        font-weight: 600;
        color: #ea4c89;
    }

    .total-price:after {
        content: "đ";
    }
}

.order-button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.badge {
    background: var(--colorPrimary);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 5px;
}