.wrapper {
    width: calc(100vw - 9px);
    display: flex;
    flex-direction: column;
    max-height: min((100vh - 96px), 734px);
    min-height: 100px;
    background-color: var(--popperBackground);
    padding-top: 8px;
}
