.wrapper {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 0px;
    max-width: 1100px;
    width: 100%;
    position: sticky;
    left: calc(50% - 550px);

    .product-overview {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .product-image-container {
            max-width: 50%;
        }

        .product-information-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 20px 127px 20px;
            justify-content: space-between;

            .line {
                width: 100%;
                height: 1px;
                background-color: #eaeaea;
                margin: 0px 0px 10px 0px;
            }

            .product-action {
                border-top: 1px solid #eaeaea;
                padding: 10px 0 0 0;

                .product-quantity {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 10px;

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    .quantity-input {
                        width: 50px;
                        height: 30px;
                        border-top: 1px solid #eaeaea;
                        outline: none;
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                        color: #000;
                        border-bottom: 1px solid #eaeaea;
                        border-left: none;
                        border-right: none;
                        background: var(--colorBGInput);
                    }

                    .quantity-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        background-color: #fff;
                        cursor: pointer;
                        outline: none;
                        border: 1px solid #eaeaea;

                        svg {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    .quantity-button:first-child {
                        border-radius: 5px 0 0px 5px;
                    }

                    .quantity-button:last-child {
                        border-radius: 0 5px 5px 0;
                    }
                }

                .buy-now{
                    width: 100%;
                    padding: 10px 0px;
                    border-radius: 5px;
                    border: 1px solid #eaeaea;
                    outline: none;
                    background: #475464;
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                }

                .add-to-cart{
                    width: 100%;
                    padding: 10px 0px;
                    border-radius: 5px;
                    border: 1px solid var(--colorPrimary);
                    outline: none;
                    background: #fff;
                    color: #000;
                    cursor: pointer;
                    margin-bottom: 10px;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .product-image {
            width: 100%;
        }

        .product-name {
            font-size: 35px;
            font-weight: 700;
            color: var(--colorPrimary);
            margin-bottom: 10px;
            padding: 15px 0px;
            line-height: 1;
        }

        .product-sold {
            font-size: 13px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px;
            padding: 5px;
            line-height: 1;
            background-color: var(--colorPrimary);
            width: fit-content;
            border-radius: 5px;
        }

        .product-price {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
            padding: 0px;
            line-height: 1;
            display: flex;
            flex-direction: row;
            align-items: end;

            .old-price {
                text-decoration: line-through;
                color: #929292;
                font-size: 16px;
                margin-bottom: 4px;
                margin-right: 5px;
            }

            .current-price {
                font-size: 30px;
                font-weight: 500;
                color: #475464;
                margin-top: 10px;
                padding: 0px;
                line-height: 1;
            }

            .old-price::before {
                content: "đ";
            }

            .current-price::before {
                content: "đ";
            }
        }

        .product-category {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 15px;

            .category-item {
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid #eaeaea;
                font-weight: 600;
                // background: #475464;
                // color: #fff;
                font-size: 12px;
            }

            .category-item::before {
                content: "# ";
            }
        }
    }
}