.wrapper {
    display: flex;
    align-items: start;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 240px;
    min-width: 240px;
    margin-left: 10px;

    &:hover {
        background: var(--colorBGView);
    }
}



.avatar {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 16px;
    line-height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    white-space: nowrap;
    color: var(--colorTextPrimary);

    p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.price {
    font-weight: 600;
    text-decoration: none;
    color: var(--primary);
    margin-top: 10px;

    p {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 1071px) {
    .hide {
        display: none;
    }

    .wrapper {
        padding: 6px 0px;
        display: flex;
        justify-content: center;
    }
}